*{
    margin: 0px;
}
.Header_Width{
    width: 350px;
    height: 600px;
    text-align: right;
    position: relative;
    left: 850px;
}
.Header_Des, .Failure_List, .Failure_Des, .Reason_Des, .Reason_List{
    margin-top: 20px;
    font-size: 18px;
}
.Btn_White{
    margin-top: 20px;
    padding: 15px 22px;
    border: 0px;
    border-radius: 8px;
    background-color: white;
    color: blue;
    font-size: 23px;
    font-weight: 600px;
}
.Header_Title, .Failure_Title, .Reason_Title{
    margin-top: 260PX;
    font-size: 46px;
    font-weight: 800px;
}
body{
    background-image: url("images/banner/banner3.png");
    background-repeat: no-repeat;
}
.Failure_Width{
    width: 350px;
    height: 600px;
    margin-left: 160px;
    margin-top: 70px;
    /* align-items: center; */
}
.Failure_List, .Reason_List{
    list-style: none;
    text-align: left;
    padding: 0;
    list-style-type: none;
}
.Failure_List li:before, .Reason_List li:before{
    content:'✓   '; 
    color: aqua;
}
.Failure_Style, .Reason_Failure{
    display: flex;
}
.Failure_Lady_Width{
    margin-left: 200px;
    margin-top: 100px;
}
.Reason_Width{
    width: 350px;
    height: 600px;
    margin-left: 330px;
    margin-top: 50px;
}
.Reason_boy-Width{
    margin-left: 110px;
    margin-top: 80px;
}