*{
    margin: 0px;
}
.Header_Width{
    width: 350px;
    height: 600px;
    text-align: right;
    position: relative;
    left: 850px;
}
.Header_Des, .Failure_List, .Failure_Des, .Reason_Des, .Reason_List, .Footer_Future_Title{
    margin-top: 20px;
    font-size: 18px;
}
.Header_Title, .Header_Des, .Mindset_Title_N_Button{
    color: white;
}
.Btn_White{
    margin-top: 20px;
    padding: 15px 22px;
    border: 0px;
    border-radius: 8px;
    background-color: white;
    color: rgba(0, 44, 139, 0.904);
    font-size: 23px;
    font-weight: 600px;
}
.Header_Title, .Failure_Title, .Reason_Title, .Mindset_Title{
    margin-top: 260PX;
    font-size: 46px;
    font-weight: 800px;
}
body{
    background-image: url("images/banner/banner3.png");
    background-repeat: no-repeat;
}
.Failure_Width{
    width: 350px;
    height: 600px;
    margin-left: 160px;
    margin-top: 70px;
    /* align-items: center; */
}
.Failure_List, .Reason_List{
    list-style: none;
    text-align: left;
    padding: 0;
    list-style-type: none;
}
.Failure_List li:before, .Reason_List li:before{
    content:'✓   '; 
    color: aqua;
}
.Failure_Style, .Reason_Failure{
    display: flex;
}
.Failure_Lady_Width{
    margin-left: 200px;
    margin-top: 100px;
}
.Reason_Width{
    width: 350px;
    height: 600px;
    margin-left: 330px;
    margin-top: 50px;
}
.Reason_boy-Width{
    margin-left: 110px;
    margin-top: 80px;
}
.Main_plan_list{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */

}
.Main_plan_list ul {
    text-align: center;
    list-style: none;
    justify-content: space-between;
}
.Main_plan_Title{
    margin-top: 130PX;
    font-size: 46px;
    font-weight: 800px;
    margin-bottom: 50px;
    text-align: center;
}
.Title_of_img{
    margin-top: 15px;
    font-size: 35px;
    font-weight: bold;
}
.Des_of_img{
    margin-top: 15px;
    font-size: 23px;
    font-weight: lighter;
}
.Main_hand_img{
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}
.Positive_mindset_Width{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
    height: 301px;
    background-image: url("images/gradient1.png"), url("images/watch.png");
    /* background-position: center,center; */
    background-repeat: no-repeat;
    border-radius: 10px;
}
.Mindset_Title_N_Button{
    padding-left:100px;
}
.Mindset_Title{
    padding-top: 75px;
}
.Footer{
    display: flex;
}